.footer {
  margin-top: 140px;

  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    flex-direction: column;
    gap: 140px;

    &__links {
      display: flex;
      gap: 140px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 40px;
  
      li {
        display: flex;
        gap: 32px;

        div {
          font-size: 32px;
          font-weight: 400;
          line-height: 140%;
          text-transform: lowercase;
        }
  
        a {
          position: relative;
          display: flex;
          align-items: center;
          gap: 32px;
          overflow: hidden;
    
          span {
            font-size: 32px;
            font-weight: 400;
            line-height: 140%;
            text-transform: lowercase;
          }
  
          .link {
            position: absolute;
            transform: translateY(100%);
          }
          
          &:hover {
            .name {
              position: absolute;
              transform: translateY(-100%);
            }
            
            .link {
              position: static;
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__top {
      display: flex;
      align-items: center;
      gap: 60px;
    }

    &__bottom {
      position: relative;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        position: absolute;
        transition: all 0.2s;
        animation-name: rotate-loop;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      .moon {
        position: absolute;
      }
    }
  }
}
