.hero {
  height: calc(100vh - 110px - 173px);
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &-scroll {
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
}