.title {
  margin-top: 110px;

  &-wrap {
    display: flex;
    gap: 40px;
  }

  h1 {
    font-size: 250px;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }

  &-count {
    font-size: 100px;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
}