<div class="navigation" id="navigation">
  <div class="container">
    <nav class="nav">
      <ul>
        <li><a href="/"><div class="slash">/</div> home <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> projects <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> design <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> fonts <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> colors <div class="arrow"></div></a></li>
        <li><a href="/tools.html"><div class="slash">/</div> tools <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> images <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> icons <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> mockups <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> ai <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> assets <div class="arrow"></div></a></li>
        <li><a href="#"><div class="slash">/</div> about me <div class="arrow"></div></a></li>
      </ul>
    </nav>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-left">
        <ul>
          <li>
            <div>designed</div>
            <div>/</div>
            <div>figma, <br>
              adobe illustrator, <br>
              adobe photoshop
            </div>
          </li>
          <li>
            <div>developed</div>
            <div>/</div>
            <div>vite, twig, scss, js</div>
          </li>
          <li>
            <div>updated</div>
            <div>/</div>
            <div>25.01.2024</div>
          </li>
        </ul>

        <div class="footer-left__links">
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span class="name">behance</span>
                <span class="link">behance.com/lun2t1k</span>
                <div class="arrow"></div>
              </a>
            </li>
            {# <li>
              <a href="https://dribbble.com/lun2t1k" target="_blank" rel="noopener noreferrer">
                <span class="name">dribbble</span>
                <span class="link">dribbble.com/lun2t1k</span>
                <div class="arrow"></div>
              </a>
            </li> #}
            <li>
              <a href="https://dprofile.ru/lun2t1k" target="_blank" rel="noopener noreferrer">
                <span class="name">dprofile</span>
                <span class="link">dprofile.ru/lun2t1k</span>
                <div class="arrow"></div>
              </a>
            </li>
            <li>
              <a href="https://pinterest.com/lun2t1k/" target="_blank" rel="noopener noreferrer">
                <span class="name">pinterest</span>
                <span class="link">pinterest.com/lun2t1k</span>
                <div class="arrow"></div>
              </a>
            </li>
          </ul>

          <ul>
            <li>
              <a href="mailto:lun2t1k@gmail.com">
                <span class="name">email</span>
                <span class="link">lun2t1k@gmail.com</span>
                <div class="arrow"></div>
              </a>
            </li>
            <li>
              <a href="https://t.me/lun2t1k" target="_blank" rel="noopener noreferrer">
                <span class="name">telegram</span>
                <span class="link">t.me/lun2t1k</span>
                <div class="arrow"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-right">
        <div class="footer-right__top">
          <svg xmlns="http://www.w3.org/2000/svg" width="142" height="142" viewBox="0 0 142 142" fill="none">
            <path d="M81 101C81 123.091 63.0914 141 41 141C18.9086 141 1 123.091 1 101C1 78.9086 18.9086 61 41 61C63.0914 61 81 78.9086 81 101Z" stroke="white" stroke-width="2"/>
            <path d="M141 101C141 123.091 123.091 141 101 141C78.9086 141 61 123.091 61 101C61 78.9086 78.9086 61 101 61C123.091 61 141 78.9086 141 101Z" stroke="white" stroke-width="2"/>
            <path d="M111 41C111 63.0914 93.0914 81 71 81C48.9086 81 31 63.0914 31 41C31 18.9086 48.9086 1 71 1C93.0914 1 111 18.9086 111 41Z" stroke="white" stroke-width="2"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" width="142" height="142" viewBox="0 0 142 142" fill="none">
            <path d="M81 101C81 123.091 63.0914 141 41 141C18.9086 141 1 123.091 1 101C1 78.9086 18.9086 61 41 61C63.0914 61 81 78.9086 81 101Z" stroke="white" stroke-width="2"/>
            <path d="M141 101C141 123.091 123.091 141 101 141C78.9086 141 61 123.091 61 101C61 78.9086 78.9086 61 101 61C123.091 61 141 78.9086 141 101Z" stroke="white" stroke-width="2"/>
            <path d="M111 41C111 63.0914 93.0914 81 71 81C48.9086 81 31 63.0914 31 41C31 18.9086 48.9086 1.00002 71 1.00002C93.0914 1.00002 111 18.9086 111 41Z" stroke="white" stroke-width="2"/>
            <path d="M61 41C61 18.9086 78.9086 1 101 1.00001C123.091 1.00001 141 18.9086 141 41C141 63.0914 123.091 81 101 81C78.9086 81 61 63.0914 61 41Z" stroke="white" stroke-width="2"/>
            <path d="M1 41C1 18.9086 18.9086 0.999998 41 1C63.0914 1 81 18.9086 81 41C81 63.0914 63.0914 81 41 81C18.9086 81 1 63.0914 1 41Z" stroke="white" stroke-width="2"/>
            <path d="M31 101C31 78.9086 48.9086 61 71 61C93.0914 61 111 78.9086 111 101C111 123.091 93.0914 141 71 141C48.9086 141 31 123.091 31 101Z" stroke="white" stroke-width="2"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" width="142" height="142" viewBox="0 0 142 142" fill="none">
            <path d="M81 101C81 123.091 63.0914 141 41 141C18.9086 141 1.00001 123.091 1.00001 101C1.00001 78.9086 18.9086 61 41 61C63.0914 61 81 78.9086 81 101Z" stroke="white" stroke-width="2"/>
            <path d="M141 101C141 123.091 123.091 141 101 141C78.9086 141 61 123.091 61 101C61 78.9086 78.9086 61 101 61C123.091 61 141 78.9086 141 101Z" stroke="white" stroke-width="2"/>
            <path d="M111 41C111 63.0914 93.0914 81 71 81C48.9086 81 31 63.0914 31 41C31 18.9086 48.9086 1.00002 71 1.00002C93.0914 1.00002 111 18.9086 111 41Z" stroke="white" stroke-width="2"/>
            <path d="M61 41C61 18.9086 78.9086 1 101 1.00001C123.091 1.00001 141 18.9086 141 41C141 63.0914 123.091 81 101 81C78.9086 81 61 63.0914 61 41Z" stroke="white" stroke-width="2"/>
            <path d="M1.00002 41C1.00002 18.9086 18.9086 0.999998 41 1C63.0914 1 81 18.9086 81 41C81 63.0914 63.0914 81 41 81C18.9086 81 1.00001 63.0914 1.00002 41Z" stroke="white" stroke-width="2"/>
            <path d="M31 101C31 78.9086 48.9086 61 71 61C93.0914 61 111 78.9086 111 101C111 123.091 93.0914 141 71 141C48.9086 141 31 123.091 31 101Z" stroke="white" stroke-width="2"/>
            <path d="M41 81C18.9086 81 1.00001 63.0914 1.00002 41C1.00002 18.9086 18.9086 0.999998 41 1C63.0914 1 81 18.9086 81 41C81 63.0914 63.0914 81 41 81Z" stroke="white" stroke-width="2"/>
            <path d="M41 141C18.9086 141 1.00001 123.091 1.00001 101C1.00001 78.9086 18.9086 61 41 61C63.0914 61 81 78.9086 81 101C81 123.091 63.0914 141 41 141Z" stroke="white" stroke-width="2"/>
            <path d="M101 111C78.9086 111 61 93.0914 61 71C61 48.9086 78.9086 31 101 31C123.091 31 141 48.9086 141 71C141 93.0914 123.091 111 101 111Z" stroke="white" stroke-width="2"/>
            <path d="M101 61C123.091 61 141 78.9086 141 101C141 123.091 123.091 141 101 141C78.9086 141 61 123.091 61 101C61 78.9086 78.9086 61 101 61Z" stroke="white" stroke-width="2"/>
            <path d="M101 1.00001C123.091 1.00001 141 18.9086 141 41C141 63.0914 123.091 81 101 81C78.9086 81 61 63.0914 61 41C61 18.9086 78.9086 1 101 1.00001Z" stroke="white" stroke-width="2"/>
            <path d="M41 31C63.0914 31 81 48.9086 81 71C81 93.0914 63.0914 111 41 111C18.9086 111 0.999997 93.0914 1 71C1 48.9086 18.9086 31 41 31Z" stroke="white" stroke-width="2"/>
          </svg>
        </div>

        <div class="footer-right__bottom">
          <svg class="text" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none">
            <path d="M47.1489 38.0938L37.5991 48.3846L23.6167 35.4073L22.4769 36.6345L37.6866 50.7485L48.3762 39.2335L47.1489 38.0938Z" fill="white"/>
            <path d="M49.323 33.8394C50.5473 34.4575 51.856 34.7681 53.2189 34.7681C53.3365 34.7681 53.4542 34.7681 53.5718 34.762C55.0644 34.7047 56.4665 34.2585 57.739 33.4414C59.0115 32.6213 60.0006 31.5328 60.67 30.2001C61.3394 28.8704 61.65 27.4412 61.5927 25.9517C61.5354 24.4592 61.0892 23.0571 60.272 21.7847L53.3788 11.0627L51.9706 11.9673L58.8638 22.6892C59.5212 23.7084 59.877 24.833 59.9222 26.024C59.9674 27.218 59.7202 28.3668 59.1804 29.4372C58.6437 30.5046 57.8536 31.376 56.8314 32.0333C55.8122 32.6906 54.6875 33.0464 53.4964 33.0916C52.2992 33.1368 51.1534 32.8896 50.0829 32.3499C49.0155 31.8132 48.144 31.0232 47.4867 30.0011L40.5904 19.2791L39.1822 20.1836L46.0754 30.9056C46.8956 32.181 47.9842 33.167 49.317 33.8364L49.323 33.8394Z" fill="white"/>
            <path d="M83.8706 21.7937L77.4508 2.06238L75.8586 2.581L79.9596 15.1814L62.8833 6.80225L61.4058 7.28468L67.8286 27.013L69.4207 26.4974L63.7427 9.05459L80.6863 17.4127L82.2815 22.3123L83.8706 21.7937Z" fill="white"/>
            <path d="M94.8225 0L93.2907 0.0934706L86.0326 21.3203L87.8087 21.2118L90.1517 14.4005L99.6593 13.8246L102.777 20.3042L104.583 20.1957L94.8225 0ZM98.8843 12.2235L90.7367 12.718L94.1953 2.52974L98.8843 12.2235Z" fill="white"/>
            <path d="M143.368 30.776L130.706 24.7124L138.947 7.5078L137.436 6.78416L128.471 25.4964L142.644 32.2866L143.368 30.776Z" fill="white"/>
            <path d="M150.897 39.5411C152.055 40.518 153.388 41.1422 154.859 41.3924C155.354 41.4768 155.845 41.519 156.334 41.519C157.302 41.519 158.258 41.3562 159.189 41.0276C160.598 40.5331 161.807 39.6979 162.784 38.5401L171.013 28.801L169.734 27.7216L161.505 37.4606C160.721 38.3863 159.753 39.0587 158.626 39.4506C157.498 39.8456 156.325 39.9451 155.146 39.7431C153.97 39.5411 152.902 39.0436 151.977 38.2596C151.048 37.4757 150.378 36.5078 149.986 35.3801C149.591 34.2494 149.492 33.0796 149.694 31.9006C149.896 30.7247 150.394 29.6573 151.178 28.7317L159.407 18.9926L158.128 17.9132L149.899 27.6522C148.922 28.8101 148.298 30.1428 148.048 31.6112C147.797 33.0796 147.918 34.5359 148.412 35.944C148.907 37.3521 149.742 38.5612 150.9 39.5381L150.897 39.5411Z" fill="white"/>
            <path d="M161.008 48.6741L175.949 38.0335L173.051 56.7005L168.854 59.6885L169.825 61.0514L186.726 49.0148L185.755 47.6519L174.96 55.3376L177.84 36.538L176.938 35.2746L160.037 47.3112L161.008 48.6741Z" fill="white"/>
            <path d="M171.568 64.6304L178.768 64.8415L182.146 73.7453L176.887 78.651L177.529 80.3425L193.906 65.0103L193.363 63.5781L170.937 62.966L171.568 64.6304ZM183.442 72.5242L180.548 64.8927L191.304 65.1641L183.442 72.5242Z" fill="white"/>
            <path d="M179.758 104.787L179.459 104.741L177.222 120.294L178.877 120.532L180.879 106.638L199.759 109.355L200 107.699L179.758 104.787Z" fill="white"/>
            <path d="M179.492 125.257C178.015 125.456 176.661 126.007 175.467 126.894C174.27 127.786 173.365 128.944 172.774 130.34C172.186 131.736 171.99 133.193 172.186 134.673C172.385 136.148 172.934 137.504 173.823 138.698C174.713 139.895 175.874 140.8 177.27 141.388L189.018 146.339L189.669 144.795L177.921 139.844C176.802 139.374 175.874 138.647 175.162 137.691C174.447 136.732 174.004 135.644 173.844 134.456C173.685 133.271 173.844 132.104 174.315 130.989C174.785 129.87 175.512 128.941 176.468 128.23C177.43 127.515 178.515 127.072 179.703 126.912C180.885 126.752 182.052 126.912 183.171 127.382L194.919 132.333L195.57 130.79L183.822 125.839C182.426 125.251 180.97 125.052 179.489 125.251L179.492 125.257Z" fill="white"/>
            <path d="M167.051 142.672L181.603 153.841L162.904 156.536L158.819 153.4L157.799 154.727L174.26 167.361L175.28 166.031L164.768 157.965L183.587 155.209L184.531 153.976L168.07 141.343L167.051 142.672Z" fill="white"/>
            <path d="M154.877 157.468L156.828 164.403L149.338 170.288L143.084 166.733L141.661 167.852L161.186 178.9L162.392 177.953L156.277 156.37L154.877 157.471V157.468ZM160.266 176.46L150.891 171.16L157.308 166.118L160.263 176.463L160.266 176.46Z" fill="white"/>
            <path d="M103.456 179.37L103.715 181.025L117.586 178.864L120.52 197.714L122.175 197.455L118.982 176.955L103.456 179.37Z" fill="white"/>
            <path d="M96.6077 179.648C95.3985 178.77 94.0235 178.251 92.5157 178.107C91.008 177.962 89.5576 178.209 88.2067 178.839C86.8588 179.47 85.7281 180.398 84.8536 181.604C83.9761 182.81 83.4575 184.188 83.3127 185.696L82.0915 198.387L83.759 198.547L84.9803 185.856C85.0948 184.65 85.511 183.546 86.2135 182.581C86.9161 181.613 87.8238 180.866 88.9093 180.359C89.9919 179.856 91.1528 179.657 92.3589 179.774C93.5681 179.892 94.6688 180.305 95.6337 181.007C96.6016 181.71 97.3494 182.617 97.856 183.703C98.3596 184.785 98.5586 185.946 98.441 187.152L97.2198 199.84L98.8873 200L100.109 187.312C100.253 185.805 100.006 184.354 99.3758 183.003C98.7456 181.653 97.8168 180.525 96.6107 179.651L96.6077 179.648Z" fill="white"/>
            <path d="M72.7226 193.569L64.5569 176.533L66.3269 171.693L64.7559 171.118L57.6214 190.605L59.1955 191.178L63.7518 178.737L72.008 195.869L73.4674 196.403L80.5989 176.919L79.0278 176.343L72.7226 193.569Z" fill="white"/>
            <path d="M61.3063 169.149L55.2483 173.047L47.4263 167.614L48.9913 160.595L47.5047 159.56L42.665 181.466L43.9255 182.34L62.7687 170.168L61.3063 169.152V169.149ZM53.7497 174.009L44.7245 179.868L47.0464 169.351L53.7497 174.009Z" fill="white"/>
            <path d="M23.5745 127.241L29.7862 139.832L12.6798 148.272L13.4216 149.773L32.0297 140.592L25.0761 126.502L23.5745 127.241Z" fill="white"/>
            <path d="M20.4083 123.692C21.5149 122.694 22.3201 121.473 22.8025 120.065C23.288 118.653 23.3785 117.185 23.0739 115.702C22.7694 114.218 22.109 112.903 21.1109 111.797C20.1128 110.69 18.8915 109.885 17.4833 109.403C16.0721 108.917 14.6036 108.827 13.12 109.131L0.63022 111.685L0.964931 113.326L13.4548 110.772C14.6428 110.528 15.8188 110.603 16.9466 110.989C18.0774 111.378 19.0604 112.023 19.8625 112.913C20.6616 113.799 21.1923 114.851 21.4335 116.039C21.6778 117.227 21.6024 118.403 21.2164 119.531C20.8274 120.662 20.1791 121.644 19.2926 122.447C18.4061 123.246 17.3537 123.776 16.1656 124.017L3.67578 126.571L4.01049 128.212L16.5003 125.655C17.9839 125.35 19.2986 124.69 20.4053 123.692H20.4083Z" fill="white"/>
            <path d="M20.8093 102.272L2.48771 101.352L16.3405 88.5076L21.4878 88.7669L21.5692 87.0965L0.844314 86.0563L0.762898 87.7267L13.9975 88.39L0.0784006 101.355L0 102.905L20.7249 103.945L20.8093 102.272Z" fill="white"/>
            <path d="M22.3954 83.1949L16.8622 78.5847L19.7057 69.4939L26.8733 68.8848L27.4131 67.1571L5.06287 69.1019L4.60453 70.5643L21.8647 84.8924L22.3954 83.1919V83.1949ZM17.9326 69.6537L15.4962 77.4419L7.20381 70.5884L17.9326 69.6537Z" fill="white"/>
          </svg>

          <svg class="moon" xmlns="http://www.w3.org/2000/svg" width="154" height="154" viewBox="0 0 154 154" fill="none">
            <path d="M77.19 153.195C56.7727 153.195 37.5766 145.244 23.1388 130.808C8.70102 116.371 0.74939 97.1763 0.74939 76.7605C0.74939 56.3447 8.70102 37.1501 23.1388 22.7134C37.5766 8.27672 56.7727 0.325684 77.19 0.325684C97.6073 0.325684 116.803 8.27672 131.241 22.7134C145.679 37.1501 153.631 56.3447 153.631 76.7605C153.631 97.1763 145.679 116.371 131.241 130.808C116.803 145.244 97.6073 153.195 77.19 153.195ZM77.19 2.43631C57.3366 2.43631 38.6712 10.1672 24.6314 24.2059C10.5917 38.2446 2.86018 56.9086 2.86018 76.7605C2.86018 96.6125 10.5917 115.276 24.6314 129.315C38.6712 143.354 57.3366 151.085 77.19 151.085C97.0435 151.085 115.709 143.354 129.749 129.315C143.788 115.276 151.52 96.6125 151.52 76.7605C151.52 56.9086 143.788 38.2446 129.749 24.2059C115.709 10.1672 97.0435 2.43631 77.19 2.43631Z" fill="white"/>
            <path d="M35.7945 59.2333C29.7727 59.2333 24.8727 54.3336 24.8727 48.3123C24.8727 42.291 29.7727 37.3913 35.7945 37.3913C41.8162 37.3913 46.7163 42.291 46.7163 48.3123C46.7163 54.3336 41.8162 59.2333 35.7945 59.2333ZM35.7945 39.4989C30.9366 39.4989 26.9834 43.4518 26.9834 48.3093C26.9834 53.1667 30.9366 57.1196 35.7945 57.1196C40.6523 57.1196 44.6055 53.1667 44.6055 48.3093C44.6055 43.4518 40.6523 39.4989 35.7945 39.4989Z" fill="white"/>
            <path d="M100.828 135.493C94.806 135.493 89.906 130.594 89.906 124.572C89.906 118.551 94.806 113.648 100.828 113.648C106.85 113.648 111.75 118.548 111.75 124.572C111.75 130.597 106.85 135.493 100.828 135.493ZM100.828 115.759C95.97 115.759 92.0168 119.712 92.0168 124.572C92.0168 129.433 95.97 133.383 100.828 133.383C105.686 133.383 109.639 129.43 109.639 124.572C109.639 119.715 105.686 115.759 100.828 115.759Z" fill="white"/>
            <path d="M79.7923 98.8648C75.4833 98.8648 71.9764 95.3582 71.9764 91.0495C71.9764 86.7408 75.4833 83.2341 79.7923 83.2341C84.1013 83.2341 87.6082 86.7408 87.6082 91.0495C87.6082 95.3582 84.1013 98.8648 79.7923 98.8648ZM79.7923 85.3447C76.6472 85.3447 74.0871 87.9046 74.0871 91.0495C74.0871 94.1943 76.6472 96.7542 79.7923 96.7542C82.9374 96.7542 85.4974 94.1943 85.4974 91.0495C85.4974 87.9046 82.9374 85.3447 79.7923 85.3447Z" fill="white"/>
            <path d="M90.9614 71.0558C76.4361 71.0558 64.6188 59.2393 64.6188 44.7152C64.6188 30.1911 76.4361 18.3746 90.9614 18.3746C105.487 18.3746 117.304 30.1911 117.304 44.7152C117.304 59.2393 105.487 71.0558 90.9614 71.0558ZM90.9614 20.4852C77.6001 20.4852 66.7295 31.3549 66.7295 44.7152C66.7295 58.0755 77.6001 68.9452 90.9614 68.9452C104.323 68.9452 115.193 58.0755 115.193 44.7152C115.193 31.3549 104.323 20.4852 90.9614 20.4852Z" fill="white"/>
            <path d="M43.0495 130.88C34.13 130.88 26.8719 123.622 26.8719 114.704C26.8719 105.785 34.13 98.5271 43.0495 98.5271C51.9691 98.5271 59.2272 105.785 59.2272 114.704C59.2272 123.622 51.9691 130.88 43.0495 130.88ZM43.0495 100.638C35.2939 100.638 28.9827 106.949 28.9827 114.704C28.9827 122.459 35.2939 128.769 43.0495 128.769C50.8052 128.769 57.1164 122.459 57.1164 114.704C57.1164 106.949 50.8052 100.638 43.0495 100.638Z" fill="white"/>
            <path d="M123.603 100.638C115.905 100.638 109.642 94.3752 109.642 86.6775C109.642 78.9797 115.905 72.7172 123.603 72.7172C131.302 72.7172 137.564 78.9797 137.564 86.6775C137.564 94.3752 131.302 100.638 123.603 100.638ZM123.603 74.8248C117.069 74.8248 111.753 80.1406 111.753 86.6745C111.753 93.2084 117.069 98.5241 123.603 98.5241C130.138 98.5241 135.454 93.2084 135.454 86.6745C135.454 80.1406 130.138 74.8248 123.603 74.8248Z" fill="white"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</footer>