.navigation {
  margin-top: 200px;

  .nav {
    ul li {
      padding: 100px;
      border-bottom: 2px solid;

      &:first-child {
        border-top: 2px solid;
      }
    }

    ul li a {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: lowercase;
      
      &:hover {
        padding-left: 148px;

        .slash {
          transform: translateX(0%);
        }
        
        .arrow {
          transform: translateX(100%);
        }
      }
        
      .slash {
        font-size: 200px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: lowercase;

        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
      }

      .arrow {
        transform: translateX(0%);
      }
    }
  }
}

.footer {
  margin-top: 140px;

  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    flex-direction: column;
    gap: 140px;

    &__links {
      display: flex;
      gap: 140px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 40px;
  
      li {
        display: flex;
        gap: 32px;

        div {
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 44.8px */
          text-transform: lowercase;
        }
  
        a {
          position: relative;
          display: flex;
          align-items: center;
          gap: 32px;
          overflow: hidden;
    
          span {
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 44.8px */
            text-transform: lowercase;
          }
  
          .link {
            position: absolute;
            transform: translateY(100%);
          }
          
          &:hover {
            .name {
              position: absolute;
              transform: translateY(-100%);
            }
            
            .link {
              position: static;
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__top {
      display: flex;
      align-items: center;
      gap: 60px;
    }

    &__bottom {
      position: relative;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        position: absolute;
        transition: all 0.2s;
        animation-name: text-circle-loop;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      .moon {
        position: absolute;
      }
    }
  }
}

@keyframes text-circle-loop {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}