{% extends "templates/layouts/base.twig" %}

{% set title = "LUNA - About Design" %}

{% block content %}
	<div class="hero">
	 	<div class="container">
      <div class="hero-wrap">
        <svg width="1700" height="432" viewBox="0 0 1700 432" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M591.468 432C561.043 432 532.423 424.297 506.403 409.097C480.768 393.888 460.029 373.171 444.794 347.537C429.604 321.563 421.893 292.975 421.893 262.565V0H432.535V262.574C432.535 291.082 439.772 317.815 454.051 342.021C468.294 366.174 487.782 385.64 511.952 399.868C536.176 414.131 562.929 421.361 591.468 421.361C620.008 421.361 646.76 414.131 670.984 399.868C695.163 385.631 714.642 366.174 728.885 342.021C743.164 317.815 750.402 291.091 750.402 262.574V0H761.044V262.574C761.044 292.975 753.333 321.572 738.125 347.564C722.917 373.153 701.999 393.852 675.961 409.07L675.863 409.124L675.791 409.168C650.218 424.315 621.849 432 591.459 432H591.468ZM1688.51 422.619L1629.7 278.827H1406.67L1405.08 282.701L1347.23 422.619H1336.35L1510.17 0H1526.18L1700 422.619H1688.5H1688.51ZM1625.43 268.822L1517.83 7.27438L1410.92 268.822H1625.43ZM1219.23 422.619V318.707L1217.36 316.868L901.365 8.93455V422.628H890.723V0H906.333L1219.23 303.614V0H1229.87V422.619H1219.23ZM0 0H10.642V411.989H314.123V422.628H0V0Z" fill="white"/>
        </svg>

        <p class="hero-scroll">scroll down</p>
      </div>
	 	</div>
	</div>

  <div class="navigation" id="navigation">
    <div class="container">
      <nav class="nav">
        <ul>
          <li><a href="#"><div class="slash">/</div> home <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> projects <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> design <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> fonts <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> colors <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> tools <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> images <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> icons <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> mockups <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> ai <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> assets <div class="arrow"></div></a></li>
          <li><a href="#"><div class="slash">/</div> about me <div class="arrow"></div></a></li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
