.theme {
  &.dark {
    &.text {
      color: $dark-primary;
    }
    &.svg {
      polygon {
        fill: $dark-primary;
      }
      path {
        fill: $dark-primary;
      }
    }
    &.background {
      background-color: $dark-bg;
    }
    &.cursor {
      background-color: $dark-primary;
    }
    &.header-link-border {
      &::after {
        background-color: $dark-primary;
      }
    }
    &.nav-link-border {
      border-bottom-color: $dark-primary;
      &:first-child {
        border-top-color: $dark-primary;
      }
    }
  }

  &.light {
    &.text {
      color: $light-primary;
    }
    &.svg {
      polygon {
        fill: $light-primary;
      }
      path {
        fill: $light-primary;
      }
    }
    &.background {
      background-color: $light-bg;
    }
    &.cursor {
      background-color: $light-primary;
    }
    &.header-link-border {
      &::after {
        background-color: $light-primary;
      }
    }
    &.nav-link-border {
      border-bottom-color: $light-primary;
      &:first-child {
        border-top-color: $light-primary;
      }
    }
  }

  &.color {
    &.text {
      color: $color-primary;
    }
    &.svg {
      polygon {
        fill: $color-primary;
      }
      path {
        fill: $color-primary;
      }
    }
    &.background {
      background-color: $color-bg;
    }
    &.cursor {
      background-color: $color-primary;
    }
    &.header-link-border {
      &::after {
        background-color: $color-primary;
      }
    }
    &.nav-link-border {
      border-bottom-color: $color-primary;
      &:first-child {
        border-top-color: $color-primary;
      }
    }
  }
}
