.dark {
  body {
    background-color: #000;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, button, div, li {
    color: #fff;
  }

  svg {
    polygon, path {
      fill: #fff;
    }
  }

  .loading {
    background-color: #000;

    .spinner {
      border-left-color: #fff;
      border-right-color: #fff;
    }
  }

  .header-settings {
    background-color: #000;

    &-btn {
      .burger, .close {
        path {
          stroke: #fff;
        }
      }
    }

    ul li {
      &::after {
        background-color: #fff;
      }
    }
  }

  .nav-link-border {
    border-color: #fff;
  }
}

.light {
  body {
    background-color: #fff;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, button, div, li {
    color: #000;
  }

  svg {
    polygon, path {
      fill: #000;
    }
  }

  .loading {
    background-color: #fff;

    .spinner {
      border-left-color: #000;
      border-right-color: #000;
    }
  }

  .header-settings {
    background-color: #fff;

    &-btn {
      .burger, .close {
        path {
          stroke: #000;
        }
      }
    }

    ul li {
      &::after {
        background-color: #000;
      }
    }
  }

  .nav-link-border {
    border-color: #000;
  }
}
